.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }

  .Landing-MainsectionA {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20vh;
    justify-content: space-between;
    padding-bottom: 5%;
    /* Add animation class and properties */
    &.drift-left {
      animation: driftLeftAnimation 0.5s ease;
      animation-fill-mode: forwards;
    }
  }

  @keyframes driftLeftAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

@font-face {
    font-family: nothing;
    src: url("../../Assets/nothing.ttf");
}
@font-face {
  font-family: type;
  src: url("../../Assets/type.ttf");
}

.Landing-sectionA{
    display: flex;
    padding-left: 4%;
    flex-direction: column;
    justify-content: center; 
    font-family: nothing;
}

.Landing-imgContainer{
  padding-right: 6%;
}

.Landing-workingA{
    width: 60vh; 
    height: 60vh; 
    display: block;
    mix-blend-mode: multiply;
    flex-flow: row;
}

.Landing-heading {
  font-size: 2.4em !important;
  padding-left: 50px !important;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 45px !important;
}

.main-name {
  color: #14ffec;
}


.Typewriter__wrapper {
  font-size: 2.2em !important;
  font-weight: 600 !important;
  font-family: type;
  color: #14ffec;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #14ffec;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {  
    font-size: 1.4em !important;
    font-weight: 600 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}
