@font-face {
    font-family: nothing;
    src: url("../../Assets/nothing.ttf");
}

.Contact-head{
    margin-top: 19vh;
    padding-left: 10vw;
    font-family: nothing;
    font-weight: bold;
}

@media (max-width: 600px) {
    .Contact-image{
        width: 70vw !important;
    }
}