.Works-main {
    padding-top: 20vh;
}

.Works-heading {
    text-align: center;
}

.custom-btn {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background-color: rgba(34, 247, 247, 0.834);
  }
  
  .btn-16 {
    border: none;
    text-decoration: none;
  }
  .btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
    text-decoration: none;
  }
  .btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .btn-16:active {
    top: 2px;
  }
  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
    text-decoration: none;
  }
  
.Works-cardsContainer {
    display: flex;
    flex-wrap: wrap; /* Add this line to wrap cards to a new row */
    justify-content: space-around;
    padding:30px 0 0 45px; /* Add some spacing between cards */
    margin-right: 10px;
}

.Works-cards {
    flex-basis: calc(33.33% - 30px); /* Adjust flex-basis to fit 3 cards in a row */
    text-align: center;
    margin-bottom: 40px; /* Add some space between rows */
    padding-bottom: 10px;
    border-radius: 40px;
    background-color: rgba(202, 242, 244, 0.116); /* Add a semi-transparent background */
    backdrop-filter: blur(10px); /* Apply the blur effect */
    border-radius: 10px; /* Optional: Add some border radius for a rounded look */
    transition: all .7s ease-in-out;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* z-index: -1; */
}

#slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }
.Works-cards:hover{
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .Works-cardsContainer{
        flex-direction: column;
        padding: 20px;
    }
  }

.Works-image {
    padding-top: 20px;
    max-width: 70%;
    width: auto;
    height: 250px;
    object-fit: contain;
    margin: auto;
}
.link-no-underline {
    text-decoration: none;
}